@{
    ViewBag.Title = "Admin Panel";
}

<h2>Welcome to <span style="color: #EB1616">Admin Panel</span><img src="https://raw.githubusercontent.com/MartinHeinz/MartinHeinz/master/wave.gif" width="40">! Here you can <span style="color: #EB1616">view</span> your site's elements, also <span style="color: #EB1616">create</span>, <span style="color: #EB1616">update</span> and <span style="color: #EB1616">delete</span> them. Good luck)</h2>